.main-details-container {
  height: 100vh;
  width: 80vw;
}

.cover-pic-detail {
  height: 200px;
  width: 150px;
  border-radius: 10px;
}
.img-con {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
}
.content-detail-con {
  margin-left: 30px;
  width: 100%;
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.horizontal-line {
  color: #94a3b8;
  width: 90%;
  border-style: solid;
  margin-top: 15px;
  background-color: #94a3b8;
}
.about-con {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 30px;
}
.loading-con {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.head {
  color: #1e293b;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
}
.para {
  color: #334155;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-family: 'Roboto';
}

.para-detail {
  color: #334155;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto';
}

.Paraa {
  color: #0284c7;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.p {
  color: #334155;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Roboto';
}
.main-details-container {
  height: 90vh;
  width: 100vw;
}

.div-book-details {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  height: 100%;
}
.container-details {
  height: 500px;
  width: 100%;
}
@media (max-width: 576px) {
  .head {
    color: #1e293b;
    font-size: 20px;
  }
  .para {
    color: #334155;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-family: 'Roboto';
  }

  .para-detail {
    color: #334155;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto';
  }

  .Paraa {
    color: #0284c7;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .heading-detail {
    font-size: 20px;
  }
  .para-detail {
    font-size: 15px;
  }
  .about-con {
    margin: 15px;
  }

  .cover-pic-detail {
    margin-left: 15px;
  }
}
