.shelf-card {
  height: 220px;
  width: 300px;
  margin: 10px;
  display: flex;
}
.cover-shelf-card {
  height: 100%;
  width: 140px;
  border-radius: 5px;
}
.content-con {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
}
.head-card {
  font-size: 15px;
  color: black;
}
.star {
  color: gold;
}
.para-card {
  font-size: 15px;
  color: black;
}
.para {
  font-size: 13px;
  color: black;
}
@media (max-width: 576px) {
  .shelf-card {
    height: 220px;
    width: 250px;
    margin-bottom: 10px;
    margin-right: 20px;
    display: flex;
  }
  .content-con {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .head-card {
    font-size: 12px;
    color: black;
  }
  .star {
    color: gold;
  }
  .para-card {
    font-size: 10px;
    color: black;
  }
  .para {
    font-size: 10px;
    color: black;
  }
  .cover-shelf-card {
    height: 100%;
    width: 140px;
    border-radius: 5px;
  }
}
