.slick-prev,
.slick-prev:before,
.slick-prev:hover {
  z-index: 1;
  background: #419be0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-next,
.slick-next::before,
.slick-next:hover {
  z-index: 1;
  background: #419be0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-prev:before {
  font-size: 25px;
}

.slick-next:before {
  font-size: 25px;
}

.main-home-container {
  height: 95vh;
  width: 100vw;
}
.home-content-container {
  overflow: auto;
  height: 530px;
  width: 100%;
}
.heading-find {
  font-size: 25px;
}
.para-find {
  font-size: 15px;
}
.find-container {
  margin-left: 30px;
}
.find-button-sm {
  width: 120px;
  height: 40px;
  background-color: #419be0;
  border-radius: 10px;
  border-width: 0px;
}
.top-rated-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.find-button-lg {
  width: 120px;
  height: 40px;
  background-color: #419be0;
  border-radius: 10px;
  border-width: 0px;
}
.top-rated-heading {
  font-size: 25px;
}
.render-items-container {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.slider-container-lg {
  height: 250px;
  width: 1000px;
  margin-top: 20px;
}
.slider-container-sm {
  width: 300px;
  margin-right: 40px;
}
@media (max-width: 576px) {
  .header-container-lg {
    display: none;
  }
  .find-button-lg {
    display: none;
  }
  .heading-find {
    font-size: 22px;
  }
  .para-find {
    font-size: 12px;
  }
  .top-rated-heading {
    font-size: 22px;
  }
  .slider-container-lg {
    display: none;
  }
}
@media (min-width: 576px) {
  .header-container-sm {
    display: none;
  }
  .find-button-sm {
    display: none;
  }
  .slider-container-sm {
    display: none;
  }
}
