.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logos {
  height: 30px;
  color: black;
}
.logo-con {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
  margin-top: 100px;
}
.contact-us {
  font-size: 20px;
  font-weight: 500;
}
