.div-container-book {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

li {
  list-style-type: none;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 594px;
  background-color: black;
}
.books-container {
  height: 100%;
  overflow: auto;
  width: 100%;
}
.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 550px;
  width: 20%;
}
.loading-con-book {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-books {
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
  border-width: 0px;
  text-align: left;
  padding-left: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.BooksShelves {
  color: #6f90b1;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  font-family: 'Roboto';
  margin-left: 10px;
}
.search-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.search-btn {
  height: 40px;
  cursor: pointer;
  border-style: solid;
  border-width: 0.5px;
  border-color: #0284c7;
}
.search-input {
  height: 40px;
  width: 200px;
  font-size: 15px;
  padding-left: 10px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #0284c7;
}
.search-head-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}
.loading-con {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.went-wrong-head-bookshelves {
  font-size: 15px;
  color: #475569;
  font-weight: 500;
  font-family: 'Roboto';
}
.went-wrong-bookshelves {
  height: 100px;
}
.wrong-con-bookshelves {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.no-match-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-match-img {
  height: 300px;
}
.loading-con {
  height: 400px;
}

.heading-shelves {
  color: #0284c7;
  font-weight: 500;
  font-size: 25px;
  font-family: 'Roboto';
}
.main-div {
}
.div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.button {
  margin: 10px;
  width: 200px;
  height: 30px;
  font-size: 16px;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Roboto';
  border-width: 0px;
  color: #0284c7;
}

.head-shelves {
  color: #334155;
  font-size: 15px;
  font-weight: 500;
}
.top-bar-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
}
.sm-button {
  height: 40px;
  width: 100px;
  color: cornflowerblue;
  border-color: cornflowerblue;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  margin: 5px;
  background-color: transparent;
}
.books-containers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  overflow: auto;
}
@media (max-width: 576px) {
  .side-bar {
    display: none;
  }
  .search-head-con {
    display: flex;
    flex-direction: column;
  }
  .books-containers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header-container-sm {
    margin-right: 0px;
    width: 100%;
  }
  .no-match-img {
    height: 200px;
  }
  .heading-shelves {
    margin-right: 60px;
  }
  .search-con {
    margin-right: 45px;
  }
  .render-header-con {
    height: 70px;
    text-align: center;
  }
  .no-match-con {
    margin-right: 20px;
  }
}
@media (min-width: 576px) {
  .top-bar-sm {
    display: none;
  }
}
